.custon_btn {
  background-color: var(--main-color) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 5px !important;
  min-width: 100px !important;
  border-radius: 10px !important;
  outline: none !important;
  box-shadow: 2px 2px 2px #999;
}
