.navbar > a > .icon {
 font-size: 30px;
  vertical-align: auto;
}

.header_right > a > .MuiSvgIcon-root {
  font-size: 40px;
  margin-right: 12px;
  color: var(--main-color);
  /* align-items: center; */
}
.navbar .navbar-collapse {
  text-align: center;

}