.container {
  padding: 20px;
  box-sizing: content-box;
  word-wrap: break-word;
}

.services {
  height: 100%;
  text-align: center;
}
.services .services_title {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 35px !important;
  text-align: center;
}
.services .service_description {
  color: #989898 !important;
  border-color: var(--main-color) !important;
  margin-right: 5px !important;
  text-align: center !important;
}
.services_icon > .MuiSvgIcon-root {
  font-size: 46px !important;
  margin-left: 0 !important;
  font-weight: 300 !important;
  color: darkslategray !important;
}

.skill {
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
  min-height: 186px;
  height: 100%;
}

.skill .skill_tile {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 35px !important;
}

.skill .skill_description {
    display: flex !important;
    align-items: center !important;
    color: #989898 !important;
    font-weight: 400 !important;
    line-height: 18px !important;

}

.skill .skill_description .timeline_dot {
    border-color: var(--main-color) !important;
    padding: 2px !important;
    margin-right: 5px  !important;
}
