.timeline {
  padding: 0 !important;
}
/* header title */
.timeline .timeline_header {
  padding-top: 15px;
}

.timeline .timeline_fistItem {
  min-height: 80px !important;
}
.timeline .MuiTimelineItem-root {
  min-height: 20px;
}

.timeline .MuiTimelineItem-missingOppositeContent::before {
  display: none;
}

.MuiTimelineConnector-root{
  height: 10px;
  background-color: red;
}

.timeline .timeline_dot_header {
  color: black !important;
  background-color: var(--main-color) !important;
  font-size: small !important;
  padding: 10px !important;
}



.timeline .timeline_dot {
  border-color: black  !important;
  padding: 4px !important;
}

.timeline .timeline_dot  {
  background-color:black;
}

.MuiTimelineDot-root {
  background-color: var(--main-color) !important;
}
.timeline .separator_padding{
    padding-left: 18px !important;
}

.MuiTimelineContent-root {
  flex: 1;
  padding: 5px 16px;
}
.MuiTimelineContent-alignRight {
  text-align: right;
}
